@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/screen.scss */
figure {
  position: relative;
  margin: 0 auto;
  padding: 0;
  max-width: 599px;
}
/* line 18, ../sass/screen.scss */
figure img {
  max-width: 100%;
}
/* line 20, ../sass/screen.scss */
figure img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: enhance linear 10s infinite;
}
/* line 29, ../sass/screen.scss */
figure > div {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  height: 1.2rem;
  overflow: hidden;
  font-family: menlo, monospace;
}
/* line 38, ../sass/screen.scss */
figure > div::after {
  content: '年';
}
/* line 42, ../sass/screen.scss */
figure > div div {
  display: inline-block;
  animation: years linear 10s infinite;
}
/* line 47, ../sass/screen.scss */
figure > div span {
  display: block;
  line-height: 1.2rem;
}

@keyframes enhance {
  10% {
    opacity: 0;
  }
  30%, 70% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}
@keyframes years {
  10% {
    transform: translateY(0);
  }
  30%, 70% {
    transform: translateY(-95%);
  }
  90% {
    transform: translateY(0);
  }
}
/* line 85, ../sass/screen.scss */
body {
  color: aliceblue;
  font-family: monospace sans-serif;
  background: #000;
}
